<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="AcquisitionConfiguration" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System"/>
    <section name="CenterConfiguration" type="Tenaris.View.StartingConditions.ViewModel.Common.CenterConfiguration, Tenaris.View.StartingConditions.ViewModel"/>
    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <AcquisitionConfiguration factoryType="Tamsa.OplScada.AcquisitionClient.AcquisitionFactory, Tamsa.OplScada.AcquisitionClient">
    <!--<AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="10.92.8.3" Port="9010" Timeout="3000" RepeatCount="3"/>-->
    <AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="10.92.35.227" Port="9010" Timeout="3000" RepeatCount="3"/>
    <!--<AcquisitionConfiguration Driver="Tamsa.OplScada.AcquisitionClient.AcquisitionProxy, Tamsa.OplScada.AcquisitionClient" IP="10.92.8.122" Port="9010" Timeout="3000" RepeatCount="3"/>-->
  </AcquisitionConfiguration>

  
  <!--configuracion log-->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
      </layout>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL"/>
        <param name="LevelMax" value="OFF"/>
      </filter>
      <param name="DatePattern" value="'.'yyyyMMdd'.log' "/>
      <param name="File" value="Log\"/>
      <param name="AppendToFile" value="true"/>
      <param name="rollingStyle" value="Date"/>
      <param name="maxSizeRollBackups" value="10"/>
      <param name="maximumFileSize" value="4MB"/>
      <param name="staticLogFileName" value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[BEGIN %date{yyyy-MM-dd HH:mm} ===] %newline" type="log4net.Util.PatternString"/>
        <param name="Footer" value="[END %date{yyyy-MM-dd HH:mm} =====]" type="log4net.Util.PatternString"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>

  <log maxQueueSize="10000" dumpStack="true" msgFormat="{Message}">
  </log>

  <appSettings>
    <add key="TagName" value="BLOQUE01.VALOR"/>
    <add key="LongitudTag" value="5"/>
    <add key="PosisionEscritura" value="3"/>
    <add key="ValorBloqueo" value="1"/>
    <add key="ValorDesBloqueo" value="0"/>
  </appSettings>

  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
