<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Tenaris.Fava.Production.Reporting.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<section name="ManagerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
		<section name="SecurityClient" type="Tenaris.Library.Proxy.Factories.GenericProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
		<section name="ManagerConfiguration" type="Tenaris.Fava.Production.Reporting.ViewModel.Support.ManagerConfiguration, Tenaris.Fava.Production.Reporting.ViewModel" />
		<section name="log" type="Tenaris.Library.Log.LogConfiguration,                                     Tenaris.Library.Log" />
		<sectionGroup name="tenaris.security">
			<section name="autorized" type="Tenaris.Manager.Security.AutorizedSection,Tenaris.Manager.Security.SecurityManager" />
			<section name="authentication" type="Tenaris.Manager.Security.AuthenticationSection,Tenaris.Manager.Security.SecurityManager" />
			<section name="manager" type="Tenaris.Manager.Security.ManagerSection, Tenaris.Manager.Security.SecurityManagerFactory" />
		</sectionGroup>
	</configSections>
	<!--AQUI CONEXION A BASE DE DATOS-->
	<!--<SecurityClient url="tcp://10.93.219.250:5006/SecurityManager.soap" instanceType="Tenaris.Manager.Security.ISecurity, Tenaris.Manager.Security.ISecurity"
        aliveInterval="1000"
        isTargetManager="true"
        forumPresent="false"
		validateConnection="true"
					proxyFactoryName="ManagerProxyFactory">
	</SecurityClient>-->
	<ManagerProxyFactory factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
		<Configuration>
			<Components>
				<Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
					<Interval>2000</Interval>
				</Component>
			</Components>
			<Dispatcher type="Tenaris.Library.Proxy.Dispatchers.RemotingMessageDispatcher, Tenaris.Library.Proxy" />
			<EventListener type="Tenaris.Library.Proxy.EventListeners.ProxyEventListener, Tenaris.Library.Proxy" />
		</Configuration>
	</ManagerProxyFactory>
	<system.runtime.remoting>
		<application name="Client">
			<channels>
				<channel ref="tcp" port="0">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full" />
					</serverProviders>
					<clientProviders>
						<provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" />
						<formatter ref="binary" typeFilterLevel="Full" />
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
	<ManagerConfiguration commandAdapterAssemblyFullName="Adapter\Tenaris.Fava.Production.Reporting.SecurityAdapter.dll" commandAdapterClassName="Tenaris.Fava.Production.Reporting.SecurityAdapter.SecurityAd" adapterDependencies="Dependencies\">
	</ManagerConfiguration>
	<appSettings>
		<add key="MaquinaInicialZona" value="1" />
		<add key="Machine" value="ROSCADORA" />

		<add key="BloqueoActivo" value="False" />
		<add key="TagName" value="CMDBAT1ROS01.N2" />
		<add key="LongitudTag" value="5" />
		<add key="PosisionEscritura" value="0" />
		<add key="ValorBloqueo" value="1" />
		<add key="ValorDesBloqueo" value="0" />
		<add key="MaxIntConexionScada" value="5" />
		<add key="TheOracleConnectionString" value="user id=VBO_PKG;password=tnsvbo12;Validate Connection=true;data source=(DESCRIPTION =(ADDRESS = (PROTOCOL = tcp)(HOST = 172.29.10.49)(PORT = 1626))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = TAMTEPQA.tamsa.techint.net)))" />
		<add key="VisibleWorkedCheckbox" value="1" />
		<add key="WorkedCheckBoxChecked" value="0" />
		<add key="VisibleExtremeRadioButton" value="1" />
		<add key="ExtremDefaultSelect" value="1" />
		<add key="FlagITNOReportBox" value="N" />
		<add key="DestinationIndex" value="0" />
		<add key="GetProductionGeneral" value="dbo.GetProductionGeneral" />
		<add key="GetReportProductionHistory" value="[ProductionFIN].[GetReportProductionHistory]" />
		<add key="GetPreviousSequence" value="[ProductionFIN].[GetPreviousSequence]" />
		<add key="GetPreviousSequenceByOperation" value="[ProductionFIN].[GetPreviousSequenceByOperation]" />
		<add key="GetNextOpChildrenActive" value="[ProductionGuide].[GetNextOPchildrenActive]" />
		<add key="UpdBoxReportada" value="[ProductionGuide].[UpdBoxReportada]" />
		<add key="IsBoxSelect" value="[ProductionGuide].[BoxSelect]" />
		<add key="GetBoxesByWOMother" value="vbo_admin.tps_wo_parent_child_pkg.get_boxes_by_wo_mother_sp" />
		<add key="URLConfigurations" value=".\Configurations.xml" />


		<add key="Bypass" value="true" />
		<!--Bypass para poder reportar atados ya enviados -->
		<add key="isContadorVisible" value="true" />
		<!--Mostrar u ocultar el contador N1 de la confirmación de reporte de produccion-->
		<add key="UserBypass" value="TestUser" />
		<!--user:N2Produccion / TestUser-->
		<add key ="isMachineVisible" value ="1"/>
		<add key ="LabelMachine" value ="Refactorizacion"/>


		<!--area de coples-->
		<!--<add key="Option_1" value="Corte 1" />-->
		<!--<add key="Operation_1" value="Corte" />
		<add key="Option_2" value="Isla 1" />
		<add key="Operation_2" value="Mecanizado" />
		<add key="Option_3" value="Fosfatizado 1" />
		<add key="Operation_3" value="Fosfatizado" />
		<add key="Option_4" value="Marcado 1" />
		<add key="Operation_4" value="Marcado" />
		<add key="Option_5" value="Embalado Coples 1" />
		<add key="Operation_5" value="Embalado Coples" />-->

		<!--VARILLAS-->
		<add key="Option_1" value="Granallado Materia Prima"/>
		<add key="Operation_1" value="Granallado Materia Prima"/>
		<add key="Option_2" value="Enderezado"/>
		<add key="Operation_2" value="Enderezado"/>
		<add key="Option_3" value="Control No Destructivo"/>
		<add key="Operation_3" value="Control No Destructivo"/>
		<add key="Option_4" value="Forja 1"/>
		<add key="Operation_4" value="Forjado Extremo 1"/>
		<add key="Option_5" value="Forja 1"/>
		<add key="Operation_5" value="Forjado Extremo 2"/>
		<add key="Option_6" value="Normalizado 1"/>
		<add key="Operation_6" value="Normalizado"/>
		<add key="Option_7" value="Revenido 1"/>
		<add key="Operation_7" value="Revenido"/>
		<add key="Option_8" value="Granallado 1"/>
		<add key="Operation_8" value="Granallado"/>
		<add key="Option_9" value="Mecanizado 1"/>
		<add key="Operation_9" value="Mecanizado Extremo 1"/>
		<add key="Option_10" value="Mecanizado 2"/>
		<add key="Operation_10" value="Mecanizado Extremo 2"/>

		<!--<add key="Option_11" value="Inyectado"/>
		<add key="Operation_11" value="Inyectado"/>-->

		<add key="Option_11" value="Pintado 1"/>
		<!--<add key="Option_11" value="Pintado 2"/>-->
		<add key="Operation_11" value="Pintado"/>
		<add key="Option_12" value="Embalado"/>
		<add key="Operation_12" value="Embalado"/>
		<!--COPLES-->
		<!--<add key="DestinationIndex" value="1" />
    <add key="Option_1" value="Corte 1" />
    <add key="Operation_1" value="Corte" />
    <add key="Option_2" value="Isla 1" />
    <add key="Operation_2" value="Mecanizado" />
    <add key="Option_3" value="Fosfatizado 1" />
    <add key="Operation_3" value="Fosfatizado" />
    <add key="Option_4" value="Marcado 1" />
    <add key="Operation_4" value="Marcado" />
    <add key="Option_5" value="Embalado Coples 1" />
    <add key="Operation_5" value="Embalado Coples" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />-->
	</appSettings>
	<tenaris.security>
		<manager>
			<providers>
				<clear />
				<add name="Manager" type="Tenaris.Manager.Security.SecurityManager.dll,Tenaris.Manager.Security.SecurityManager" port="5006" serverurl="SecurityManager.soap" address="tcp://10.93.219.250:5006/SecurityManager.soap" servicestype="Client" />
			</providers>
		</manager>
		<autorized>
			<providers>
				<clear />
				<add name="SQLAutorized" type="Tenaris.Manager.Security.SQLAutorized.dll,Tenaris.Manager.Security.SQLAutorized" connectionString="SQLUser" />
			</providers>
		</autorized>
		<authentication defaultProvider="SQLAuthentication">
			<providers>
				<clear />
				<!--<add name="SQLAuthentication" type="Tenaris.Manager.Security.SQLAuthentication.dll,Tenaris.Manager.Security.SQLAuthentication" connectionStringName="ADConnectionString" connectionUsername="tamsa\extvec" connectionPassword="cve2Na41" enableSearchMethods="true" />-->
				<add name="SQLAuthentication" type="Tenaris.Manager.Security.SQLAuthentication.dll,Tenaris.Manager.Security.SQLAuthentication" connectionStringName="SQLUser" />
				<!--<add name="ADAuthentication" type="Tenaris.Manager.Security.ADAuthenticationProvider.dll,Tenaris.Manager.Security.ADAuthenticationProvider" connectionLDAPName="LDAPConnection" />-->
			</providers>
		</authentication>
	</tenaris.security>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="RoleEndPoint">
					<reliableSession inactivityTimeout="00:05:00" enabled="true" />

					<security mode="None">
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://10.93.217.9:33366/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITService.ITService" name="RoleEndPoint">
				<identity>
					<dns value="localhost" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<userSettings>
		<Tenaris.Fava.Production.Reporting.View.Properties.Settings>
			<setting name="Culture" serializeAs="String">
				<value>es-MX</value>
			</setting>
			<setting name="UICulture" serializeAs="String">
				<value>es-MX</value>
			</setting>
		</Tenaris.Fava.Production.Reporting.View.Properties.Settings>
	</userSettings>
	<!--<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="E:\Reporting.V5\Tenaris.Fava.Production.Reporting.View\bin\Debug\Dependencies;E:\Reporting.V5\Tenaris.Fava.Production.Reporting.View\bin\Debug\Adapter"/>
		</assemblyBinding>
	</runtime>-->
	<!--LOG CONFIGURATION-->
	<log maxFileSize="8096" msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" logLevel="Debug" traceAttributeLogEnabled="false" logBaseName="Tenaris.Tamsa.SM.Manager.Profile.Host" additionalLogDestination="Console" path="C:\Users\alexm\Desktop" />
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>